html,
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  display: block;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

.link {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #ffffff;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}

/* header */

.page-header .header {
  display: flex;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo .web {
  color: var(--accent-color);
}
.logo .studio-header {
  color: var(--title-text-color);
}

.site-nav {
  display: flex;
}

.nav-list {
  display: flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .header-contacts-item:not(:last-child) {
  width: max-content;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* hero section */

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

.hero {
  padding: 200px 0;
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: white;
  background-color: var(--accent-color);
}

/* section */
.section-title-hidden {
  display: none;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* benefits */

.our-benefits {
  background-color: white;
}

.our-benefits-bottom {
  margin-top: 94px;
}

.benefits {
  display: flex;
}

.benefits-item {
  width: 270px;
  margin-right: 30px;
}

.benefits-item-title {
  padding-bottom: 10px;
  margin: 0;
}

.text .benefits-item:last-child {
  margin-right: 0;
}

.benefits-item-text {
  margin: 0;
}

.benefits .benefits-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits .benefits-item-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* our team */

.wwd {
  display: flex;
}

.wwd-item {
  margin-right: 30px;
}

.wwd-item:last-child {
  margin-right: 0px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list-item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-list-item:last-child {
  margin-right: 0px;
}

.section-our-team {
  background-color: #f5f4fa;
}

.common-padding {
  padding: 94px 15px;
}

.team-list .name {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list .position {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.studio-footer {
  color: white;
}

.footer-city {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
}

.footer-contacts .contact-item {
  margin-top: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
