html,
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

img {
  display: block;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

.link {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #ffffff;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}

/* header */

.page-header .header {
  display: flex;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo .web {
  color: var(--accent-color);
}
.logo .studio-header {
  color: var(--title-text-color);
}

.site-nav {
  display: flex;
}

.nav-list {
  display: flex;
  margin-right: 331px;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
}

.header-contacts .header-contacts-item:not(:last-child) {
  width: max-content;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}
/* main */

.main {
  background-color: #ffffff;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

.our-projects {
  padding: 94px 0;
}

.title {
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-buttom {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
}

.projects-buttom:hover,
.projects-buttom:focus {
  background-color: var(--accent-color);
  color: white;
}

.projects-item {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item:nth-child(3n) {
  margin-right: 0;
}

.item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-title {
  margin: 20px 24px 0 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-filter {
  margin: 4px 24px 0 24px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.studio-footer {
  color: white;
}

.footer-city {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
}

.footer-contacts .contact-item {
  margin-top: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
